.sortable tr {
    cursor: pointer;
}

input:read-only {
    background-color: transparent !important;
}

.led-red {
	margin: 8px;
	width: 12px;
	height: 12px;
	background-color: #ff0303;
	border-radius: 50%;
	box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
	margin: 20px;
	width: 12px;
	height: 12px;
	background-color: #A90;
	border-radius: 50%;
	box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
	margin: 8px;
	width: 12px;
	height: 12px;
	background-color: #690;
	border-radius: 50%;
	box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-blue {
	margin: 20px auto;
	width: 12px;
	height: 12px;
	background-color: #4AB;
	border-radius: 50%;
	box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}